.goodsBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 150px;
}
.goods {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 500px;
}
.scrollingBtn {
  visibility: hidden;
}
